<h3>EVENT BINDING</h3>
<input
  id="meu-input"
  [value]="inputText"
  [type]="inputType"
  [disabled]="isDisable"
  (keyup)="handleInputKeyup($event)"
/>

<br />

<button (click)="enableInput()">Habilitar</button>
<button (click)="disableInput()">Desabilitar</button>

<br />

<button (click)="isTypeText()">Tipo Texto</button>
<button (click)="isTypePassword()">Tipo Senha</button>

<br />

<button (click)="valueBlue()">Palavra Azul</button>
<button (click)="valueRed()">Palavra Vermelho</button>
